<div class="custom-payment-icons_variant">
        

<div class="custom-payment-icons">
  <div class="custom-payment-icon">
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="20" viewBox="0 0 32 20" fill="none">
      <g clip-path="url(#clip0_1839_666)">
        <path d="M29.1667 0H2.5C1.08333 0 0 1.08333 0 2.5V17.5C0 18.9167 1.16667 20 2.5 20H29.1667C30.5833 20 31.6667 18.9167 31.6667 17.5V2.5C31.6667 1.08333 30.5 0 29.1667 0Z" fill="#E6E6E8"></path>
        <path d="M19.918 6.9165C20.0846 6.08317 19.918 5.49984 19.418 4.99984C18.918 4.4165 18.0013 4.1665 16.8346 4.1665H13.418C13.168 4.1665 13.0013 4.33317 12.918 4.58317L11.668 12.9998C11.668 13.1665 11.7513 13.3332 11.918 13.3332H14.168L14.5013 10.4998L16.0013 8.6665L19.918 6.9165Z" fill="#003087"></path>
        <path d="M19.9154 6.9165L19.7487 7.08317C19.332 9.4165 17.9154 10.2498 15.9154 10.2498H14.9987C14.7487 10.2498 14.582 10.4165 14.4987 10.6665L13.9987 13.9165L13.832 14.7498C13.832 14.9165 13.9154 15.0832 14.082 15.0832H15.832C16.082 15.0832 16.2487 14.9165 16.2487 14.7498V14.6665L16.582 12.6665V12.5832C16.582 12.4165 16.832 12.2498 16.9987 12.2498H17.2487C18.9987 12.2498 20.332 11.5832 20.6654 9.58317C20.832 8.74984 20.7487 8.08317 20.332 7.58317C20.2487 7.1665 20.082 6.99984 19.9154 6.9165Z" fill="#3086C8"></path>
        <path d="M19.4167 6.75C19.3333 6.66667 19.25 6.66667 19.1667 6.66667C19.0833 6.66667 19 6.66667 18.9167 6.58333C18.6667 6.5 18.3333 6.5 18 6.5H15.5C15.4167 6.5 15.3333 6.5 15.3333 6.58333C15.1667 6.66667 15.0833 6.75 15.0833 6.91667L14.5 10.5833V10.6667C14.5 10.4167 14.75 10.25 15 10.25H16.0833C18.1667 10.25 19.5 9.41667 19.9167 7.08333V6.91667C19.8333 6.83333 19.6667 6.75 19.5 6.75H19.4167Z" fill="#012169"></path>
      </g>
      <defs>
        <clipPath id="clip0_1839_666">
          <rect width="31.6667" height="20" fill="white"></rect>
        </clipPath>
      </defs>
    </svg>
  </div>
  <div class="custom-payment-icon">
    <svg xmlns="http://www.w3.org/2000/svg" width="33" height="20" viewBox="0 0 33 20" fill="none">
      <g clip-path="url(#clip0_1839_672)">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M30.0729 0H3.40625C1.98958 0 0.90625 1.08333 0.90625 2.5V17.5C0.90625 18.9167 2.07292 20 3.40625 20H30.0729C31.4896 20 32.5729 18.9167 32.5729 17.5V2.5C32.5729 1.08333 31.4062 0 30.0729 0Z" fill="#FFB3C7"></path>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M30.0716 0.833496C30.9883 0.833496 31.7383 1.5835 31.7383 2.50016V17.5002C31.7383 18.4168 30.9883 19.1668 30.0716 19.1668H3.40495C2.48828 19.1668 1.73828 18.4168 1.73828 17.5002V2.50016C1.73828 1.5835 2.48828 0.833496 3.40495 0.833496H30.0716Z" fill="#FFB3C7"></path>
        <path d="M29.3358 10.9865C28.9299 10.9865 28.6008 11.3198 28.6008 11.7298C28.6008 12.1407 28.9299 12.474 29.3358 12.474C29.7424 12.474 30.0716 12.1407 30.0716 11.7298C30.0725 11.5337 29.9955 11.3453 29.8575 11.2059C29.7196 11.0665 29.5319 10.9876 29.3358 10.9865ZM26.9166 10.4115C26.9166 9.84817 26.4416 9.39234 25.8549 9.39234C25.2683 9.39234 24.7933 9.84817 24.7933 10.4107C24.7933 10.9732 25.2683 11.4298 25.8549 11.4298C26.4416 11.4298 26.9166 10.9732 26.9166 10.4107V10.4115ZM26.9208 8.4315H28.0924V12.3898H26.9208V12.1373C26.5795 12.3736 26.1742 12.5001 25.7591 12.4998C24.6183 12.4998 23.6941 11.5648 23.6941 10.4107C23.6941 9.25734 24.6191 8.32234 25.7591 8.32234C26.1899 8.32234 26.5891 8.45567 26.9208 8.68484V8.4315ZM17.5433 8.94734V8.4315H16.3433V12.3898H17.5458V10.5423C17.5458 9.91817 18.2141 9.584 18.6783 9.584H18.6916V8.43234C18.2166 8.43234 17.7783 8.63817 17.5433 8.94734ZM14.5549 10.4107C14.5549 9.84817 14.0799 9.39234 13.4933 9.39234C12.9074 9.39234 12.4316 9.84817 12.4316 10.4107C12.4316 10.9732 12.9066 11.4298 13.4933 11.4298C14.0799 11.4298 14.5549 10.9732 14.5549 10.4107ZM14.5591 8.4315H15.7308V12.3898H14.5591V12.1373C14.2176 12.3738 13.812 12.5003 13.3966 12.4998C12.2566 12.4998 11.3316 11.5648 11.3316 10.4107C11.3316 9.25734 12.2566 8.32234 13.3966 8.32234C13.8274 8.32234 14.2274 8.45567 14.5583 8.68484L14.5591 8.4315ZM21.6116 8.32484C21.1441 8.32484 20.7008 8.47234 20.4049 8.87734V8.4315H19.2383V12.3898H20.4191V10.3098C20.4191 9.70817 20.8183 9.41317 21.2983 9.41317C21.8133 9.41317 22.1091 9.72484 22.1091 10.3015V12.3907H23.2799V9.87317C23.2799 8.9515 22.5549 8.32484 21.6116 8.32484ZM9.62578 12.3915H10.8524V6.6665H9.62578V12.3898V12.3915ZM4.23828 12.3915H5.53661V6.6665H4.23828V12.3915ZM8.77995 6.6665C8.78324 7.2689 8.66769 7.86604 8.43989 8.42372C8.2121 8.9814 7.87655 9.48868 7.45245 9.9165L9.24745 12.3915H7.64328L5.69245 9.7015L6.19578 9.31984C6.60636 9.01049 6.93899 8.6095 7.16716 8.14884C7.39532 7.68817 7.5127 7.18057 7.50995 6.6665H8.77995Z" fill="#0A0B09"></path>
      </g>
      <defs>
        <clipPath id="clip0_1839_672">
          <rect width="31.6667" height="20" fill="white" transform="translate(0.90625)"></rect>
        </clipPath>
      </defs>
    </svg>
  </div>
  <div class="custom-payment-icon">
    <svg xmlns="http://www.w3.org/2000/svg" width="33" height="20" viewBox="0 0 33 20" fill="none">
      <g clip-path="url(#clip0_1839_677)">
        <path d="M29.9753 0H3.30859C1.89193 0 0.808594 1.08333 0.808594 2.5V17.5C0.808594 18.9167 1.97526 20 3.30859 20H29.9753C31.3919 20 32.4753 18.9167 32.4753 17.5V2.5C32.4753 1.08333 31.3086 0 29.9753 0Z" fill="#E6E6E8"></path>
        <path d="M24.3932 8.4165H24.1432C23.8099 9.24984 23.5599 9.6665 23.3099 10.9165H24.8932C24.6432 9.6665 24.6432 9.08317 24.3932 8.4165ZM26.8099 13.3332H25.3932C25.3099 13.3332 25.3099 13.3332 25.2266 13.2498L25.0599 12.4998L24.9766 12.3332H22.9766C22.8932 12.3332 22.8099 12.3332 22.8099 12.4998L22.5599 13.2498C22.5599 13.3332 22.4766 13.3332 22.4766 13.3332H20.7266L20.8932 12.9165L23.3099 7.24984C23.3099 6.83317 23.5599 6.6665 23.9766 6.6665H25.2266C25.3099 6.6665 25.3932 6.6665 25.3932 6.83317L26.5599 12.2498C26.6432 12.5832 26.7266 12.8332 26.7266 13.1665C26.8099 13.2498 26.8099 13.2498 26.8099 13.3332ZM15.6432 13.0832L15.9766 11.5832C16.0599 11.5832 16.1432 11.6665 16.1432 11.6665C16.7266 11.9165 17.3099 12.0832 17.8932 11.9998C18.0599 11.9998 18.3099 11.9165 18.4766 11.8332C18.8932 11.6665 18.8932 11.2498 18.5599 10.9165C18.3932 10.7498 18.1432 10.6665 17.8932 10.4998C17.5599 10.3332 17.2266 10.1665 16.9766 9.9165C15.9766 9.08317 16.3099 7.9165 16.8932 7.33317C17.3932 6.99984 17.6432 6.6665 18.3099 6.6665C19.3099 6.6665 20.3932 6.6665 20.8932 6.83317H20.9766C20.8932 7.33317 20.8099 7.74984 20.6432 8.24984C20.2266 8.08317 19.8099 7.9165 19.3932 7.9165C19.1432 7.9165 18.8932 7.9165 18.6432 7.99984C18.4766 7.99984 18.3932 8.08317 18.3099 8.1665C18.1432 8.33317 18.1432 8.58317 18.3099 8.74984L18.7266 9.08317C19.0599 9.24984 19.3932 9.4165 19.6432 9.58317C20.0599 9.83317 20.4766 10.2498 20.5599 10.7498C20.7266 11.4998 20.4766 12.1665 19.8099 12.6665C19.3932 12.9998 19.2266 13.1665 18.6432 13.1665C17.4766 13.1665 16.5599 13.2498 15.8099 12.9998C15.7266 13.1665 15.7266 13.1665 15.6432 13.0832ZM12.7266 13.3332C12.8099 12.7498 12.8099 12.7498 12.8932 12.4998C13.3099 10.6665 13.7266 8.74984 14.0599 6.9165C14.1432 6.74984 14.1432 6.6665 14.3099 6.6665H15.8099C15.6432 7.6665 15.4766 8.4165 15.2266 9.33317C14.9766 10.5832 14.7266 11.8332 14.3932 13.0832C14.3932 13.2498 14.3099 13.2498 14.1432 13.2498M4.97656 6.83317C4.97656 6.74984 5.14323 6.6665 5.22656 6.6665H8.0599C8.47656 6.6665 8.8099 6.9165 8.89323 7.33317L9.64323 10.9998C9.64323 11.0832 9.64323 11.0832 9.72656 11.1665C9.72656 11.0832 9.8099 11.0832 9.8099 11.0832L11.5599 6.83317C11.4766 6.74984 11.5599 6.6665 11.6432 6.6665H13.3932C13.3932 6.74984 13.3932 6.74984 13.3099 6.83317L10.7266 12.9165C10.6432 13.0832 10.6432 13.1665 10.5599 13.2498C10.4766 13.3332 10.3099 13.2498 10.1432 13.2498H8.89323C8.8099 13.2498 8.72656 13.2498 8.72656 13.0832L7.39323 7.9165C7.22656 7.74984 6.97656 7.49984 6.64323 7.4165C6.14323 7.1665 5.22656 6.99984 5.0599 6.99984L4.97656 6.83317Z" fill="#142688"></path>
      </g>
      <defs>
        <clipPath id="clip0_1839_677">
          <rect width="31.6667" height="20" fill="white" transform="translate(0.808594)"></rect>
        </clipPath>
      </defs>
    </svg>
  </div>
  <div class="custom-payment-icon">
    <svg xmlns="http://www.w3.org/2000/svg" width="33" height="20" viewBox="0 0 33 20" fill="none">
      <g clip-path="url(#clip0_1839_681)">
        <path d="M29.8815 0H3.21484C1.79818 0 0.714844 1.08333 0.714844 2.5V17.5C0.714844 18.9167 1.88151 20 3.21484 20H29.8815C31.2982 20 32.3815 18.9167 32.3815 17.5V2.5C32.3815 1.08333 31.2148 0 29.8815 0Z" fill="#E6E6E8"></path>
        <path d="M13.2161 15.8332C16.4378 15.8332 19.0495 13.2215 19.0495 9.99984C19.0495 6.77818 16.4378 4.1665 13.2161 4.1665C9.99448 4.1665 7.38281 6.77818 7.38281 9.99984C7.38281 13.2215 9.99448 15.8332 13.2161 15.8332Z" fill="#EB001B"></path>
        <path d="M19.8802 15.8332C23.1019 15.8332 25.7135 13.2215 25.7135 9.99984C25.7135 6.77818 23.1019 4.1665 19.8802 4.1665C16.6585 4.1665 14.0469 6.77818 14.0469 9.99984C14.0469 13.2215 16.6585 15.8332 19.8802 15.8332Z" fill="#F79E1B"></path>
        <path d="M19.0469 10C19.0469 8 18.0469 6.25 16.5469 5.25C15.0469 6.33333 14.0469 8.08333 14.0469 10C14.0469 11.9167 15.0469 13.75 16.5469 14.75C18.0469 13.75 19.0469 12 19.0469 10Z" fill="#FF5F00"></path>
      </g>
      <defs>
        <clipPath id="clip0_1839_681">
          <rect width="31.6667" height="20" fill="white" transform="translate(0.714844)"></rect>
        </clipPath>
      </defs>
    </svg>
  </div>
  <div class="custom-payment-icon">
    <svg xmlns="http://www.w3.org/2000/svg" width="33" height="20" viewBox="0 0 33 20" fill="none">
      <g clip-path="url(#clip0_1839_687)">
        <path d="M29.7839 0H3.11719C1.70052 0 0.617188 1.08333 0.617188 2.5V17.5C0.617188 18.9167 1.78385 20 3.11719 20H29.7839C31.2005 20 32.2839 18.9167 32.2839 17.5V2.5C32.2839 1.08333 31.1172 0 29.7839 0Z" fill="#E6E6E8"></path>
        <path d="M28.5797 16.6665H3.11719L5.05219 4.1665H30.6172L28.5797 16.6665Z" fill="#393A41"></path>
        <path d="M11.5459 8.3335C10.3767 8.3335 9.48755 9.36933 9.48755 10.6043C9.48755 11.721 10.2167 12.4993 11.2092 12.4993C12.3784 12.4993 13.2609 11.4343 13.2609 10.1993C13.2676 9.07516 12.5384 8.3335 11.5459 8.3335ZM11.2834 11.4485C10.8351 11.4485 10.5234 11.096 10.5234 10.5518C10.5234 9.94933 10.9092 9.37683 11.4667 9.37683C11.9134 9.37683 12.2259 9.74433 12.2259 10.2885C12.2326 10.8977 11.8417 11.4485 11.2834 11.4485ZM18.5826 8.3335C17.4142 8.3335 16.5317 9.36933 16.5317 10.6043C16.5317 11.721 17.2609 12.4993 18.2534 12.4993C19.4226 12.4993 20.3059 11.4343 20.3059 10.1993C20.3126 9.07516 19.5826 8.3335 18.5842 8.3335H18.5826ZM18.3267 11.4485C17.8792 11.4485 17.5667 11.096 17.5667 10.5518C17.5667 9.94933 17.9526 9.37683 18.5109 9.37683C18.9567 9.37683 19.2701 9.74433 19.2701 10.2885C19.2701 10.8977 18.8851 11.4485 18.3267 11.4485ZM23.7484 9.6485C23.7484 8.8985 23.2642 8.42183 22.3817 8.42183H21.1442L20.5992 12.411H21.6409L21.8126 11.1543H21.8617L22.4117 12.411H23.6067L22.8417 11.0143C23.4117 10.7793 23.7476 10.2727 23.7476 9.64933L23.7484 9.6485ZM22.0817 10.311H21.9292L22.0451 9.47183H22.1859C22.5109 9.47183 22.6817 9.59016 22.6817 9.84683C22.6817 10.1493 22.4376 10.311 22.0817 10.311ZM8.29255 10.016C7.89505 9.77266 7.80839 9.71433 7.80839 9.58183C7.80839 9.421 7.96672 9.34016 8.18172 9.34016C8.43339 9.34016 8.81339 9.376 9.18672 9.80183C9.27672 9.4685 9.42589 9.15433 9.62755 8.87683C9.10255 8.51766 8.61089 8.3335 8.16422 8.3335C7.27589 8.3335 6.76172 8.906 6.76172 9.59683C6.76172 10.1927 7.13422 10.501 7.57589 10.7735C7.97422 11.0152 8.07172 11.096 8.07172 11.2435C8.07172 11.4052 7.90672 11.4935 7.68589 11.4935C7.30589 11.4935 6.86422 11.2068 6.60172 10.9127L6.44922 12.0218C6.79672 12.3368 7.24422 12.5068 7.70505 12.5002C8.62422 12.5002 9.12089 11.941 9.12089 11.2277C9.12089 10.6402 8.80255 10.3243 8.29339 10.016H8.29255ZM16.0117 10.1693H14.7867L14.8842 9.47183H16.1942C16.3609 9.06266 16.6217 8.70266 16.9542 8.42183H14.8101C14.3326 8.42183 13.9284 8.811 13.8601 9.34016L13.4442 12.4185H14.4859L14.6576 11.1618H15.8951L15.9867 10.4785C15.9926 10.3685 15.9992 10.2727 16.0117 10.1702V10.1693ZM23.7717 8.42266C24.0534 8.67933 24.2251 9.03933 24.2617 9.47266H25.1317L24.7342 12.411H25.7751L26.1726 9.47183H27.1409L27.2817 8.42183H23.7717V8.42266Z" fill="#EDEDED"></path>
      </g>
      <defs>
        <clipPath id="clip0_1839_687">
          <rect width="31.6667" height="20" fill="white" transform="translate(0.617188)"></rect>
        </clipPath>
      </defs>
    </svg>
  </div>
  <div class="custom-payment-icon">
    <svg xmlns="http://www.w3.org/2000/svg" width="33" height="20" viewBox="0 0 33 20" fill="none">
      <g clip-path="url(#clip0_1839_691)">
        <path d="M29.1813 0H3.536C3.42917 0 3.32215 0 3.21551 0.000566225C3.12548 0.00132119 3.03564 0.0022649 2.94561 0.00471854C2.74951 0.0100033 2.55171 0.0217053 2.35806 0.0564337C2.16386 0.0897069 1.97569 0.151729 1.79976 0.240457C1.44609 0.420342 1.15862 0.707812 0.978738 1.06148C0.889852 1.23748 0.827823 1.42579 0.794715 1.62016C0.759609 1.814 0.748096 2.01161 0.742811 2.20752C0.740511 2.29747 0.739127 2.38744 0.738659 2.47742C0.738281 2.58387 0.738281 2.6907 0.738281 2.79772V17.2021C0.738281 17.3091 0.738281 17.4157 0.738659 17.5228C0.739225 17.6126 0.740357 17.7026 0.742811 17.7927C0.748096 17.9882 0.759798 18.186 0.794715 18.3797C0.827755 18.574 0.88972 18.7623 0.978549 18.9383C1.06786 19.1141 1.18443 19.2746 1.32395 19.414C1.46322 19.5535 1.62376 19.6701 1.79958 19.7594C1.97831 19.8505 2.16139 19.9085 2.35825 19.9438C2.55171 19.9783 2.74951 19.99 2.94561 19.9953C3.03564 19.9974 3.12548 19.9985 3.21551 19.9991C3.32215 19.9998 3.42917 19.9998 3.536 19.9998H29.1813C29.2879 19.9998 29.3949 19.9998 29.5016 19.9991C29.5914 19.9987 29.6812 19.9974 29.7716 19.9953C29.9674 19.99 30.1652 19.9783 30.3592 19.9438C30.5534 19.9104 30.7416 19.8483 30.9175 19.7594C31.271 19.5792 31.5584 19.2918 31.7385 18.9383C31.8297 18.7596 31.8874 18.5765 31.9223 18.3797C31.9575 18.186 31.9688 17.9882 31.9741 17.7927C31.9765 17.7026 31.9778 17.6126 31.9782 17.5228C31.979 17.4157 31.979 17.3091 31.979 17.2021V2.7979C31.979 2.69089 31.979 2.58406 31.9782 2.47723C31.9779 2.38732 31.9765 2.29741 31.9741 2.20752C31.9688 2.01161 31.9575 1.814 31.9223 1.62016C31.8895 1.42576 31.8275 1.23742 31.7385 1.06148C31.5585 0.707874 31.2711 0.420428 30.9175 0.240457C30.7415 0.15182 30.5534 0.0898632 30.3592 0.0566225C30.1652 0.0217053 29.9674 0.010192 29.7716 0.00490728C29.6816 0.00262111 29.5916 0.00123693 29.5016 0.000754966C29.3949 0 29.2879 0 29.1813 0Z" fill="#E6E6E8"></path>
        <path d="M8.94637 6.7511C9.21136 6.41986 9.39104 5.975 9.34367 5.52051C8.95599 5.53976 8.48301 5.77625 8.20896 6.10787C7.96303 6.39174 7.74541 6.8551 7.80203 7.29053C8.23727 7.32827 8.67213 7.0731 8.94637 6.7511Z" fill="black"></path>
        <path d="M9.3391 7.37558C8.70682 7.33783 8.16966 7.73419 7.86786 7.73419C7.56588 7.73419 7.10365 7.39446 6.60367 7.4037C5.95308 7.41314 5.34948 7.78119 5.01919 8.36629C4.34009 9.53648 4.83988 11.2729 5.50048 12.2261C5.82115 12.6979 6.20769 13.2169 6.71692 13.1983C7.19821 13.1794 7.38676 12.8868 7.97148 12.8868C8.55601 12.8868 8.72588 13.1983 9.2353 13.1888C9.76339 13.1794 10.0937 12.717 10.4144 12.2451C10.7824 11.7072 10.9328 11.1882 10.9423 11.1599C10.9328 11.1504 9.92382 10.7633 9.91439 9.60254C9.90495 8.63052 10.7067 8.16811 10.7445 8.13961C10.2917 7.46995 9.58428 7.39446 9.33891 7.37558" fill="black"></path>
        <path d="M15.6424 6.06055C17.016 6.06055 17.9728 7.00746 17.9728 8.38603C17.9728 9.76951 16.9964 10.7213 15.608 10.7213H14.0871V13.1402H12.9883V6.06055H15.6424ZM14.0871 9.79895H15.3479C16.3048 9.79895 16.8492 9.28388 16.8492 8.39094C16.8492 7.49819 16.3047 6.98783 15.3528 6.98783H14.0871V9.79895Z" fill="black"></path>
        <path d="M18.2461 11.6729C18.2461 10.7653 18.9378 10.2453 20.2133 10.1668L21.5821 10.0834V9.69079C21.5821 9.11701 21.2044 8.80295 20.5323 8.80295C19.9778 8.80295 19.5754 9.08738 19.4924 9.52394H18.5011C18.5307 8.60665 19.394 7.93945 20.5618 7.93945C21.8176 7.93945 22.637 8.59684 22.637 9.61737V13.1398H21.6215V12.2911H21.597C21.3075 12.8454 20.6695 13.1936 19.9778 13.1936C18.9575 13.1936 18.2461 12.5855 18.2461 11.6729ZM21.5821 11.2168V10.8193L20.3606 10.8978C19.6735 10.942 19.3157 11.1969 19.3157 11.6433C19.3157 12.0752 19.6885 12.3549 20.2722 12.3549C21.0178 12.3549 21.5821 11.8789 21.5821 11.2168Z" fill="black"></path>
        <path d="M23.5689 15.0337V14.1851C23.6377 14.1947 23.8043 14.2045 23.8926 14.2045C24.3783 14.2045 24.6531 13.9988 24.8199 13.4686L24.9181 13.1547L23.0586 8.00342H24.2065L25.5019 12.1833H25.5264L26.8215 8.00342H27.9402L26.012 13.4146C25.5704 14.656 25.0651 15.0633 23.9957 15.0633C23.9123 15.0633 23.6424 15.0535 23.5689 15.0337Z" fill="black"></path>
      </g>
      <defs>
        <clipPath id="clip0_1839_691">
          <rect width="31.6667" height="20" fill="white" transform="translate(0.523438)"></rect>
        </clipPath>
      </defs>
    </svg>
  </div>
  <div class="custom-payment-icon">
    <svg xmlns="http://www.w3.org/2000/svg" width="33" height="20" viewBox="0 0 33 20" fill="none">
      <g clip-path="url(#clip0_1839_702)">
        <path d="M29.5964 0H2.92969C1.51302 0 0.429688 1.08333 0.429688 2.5V17.5C0.429688 18.9167 1.59635 20 2.92969 20H29.5964C31.013 20 32.0964 18.9167 32.0964 17.5V2.5C32.0964 1.08333 30.9297 0 29.5964 0Z" fill="#E6E6E8"></path>
        <path d="M21.4799 13.5249C20.0658 14.7583 18.0158 15.4166 16.2508 15.4166C13.7758 15.4166 11.5474 14.3333 9.86244 12.5308C9.7291 12.3891 9.84744 12.1958 10.0066 12.3058C11.8258 13.5591 14.0749 14.3124 16.3983 14.3124C17.9649 14.3124 19.6899 13.9291 21.2733 13.1324C21.5133 13.0116 21.7149 13.3183 21.4799 13.5249ZM22.0683 12.7274C21.8883 12.4541 20.8733 12.5983 20.4183 12.6624C20.2791 12.6824 20.2574 12.5391 20.3824 12.4374C21.1908 11.7624 22.5174 11.9574 22.6724 12.1833C22.8283 12.4099 22.6333 13.9833 21.8724 14.7358C21.7558 14.8508 21.6458 14.7891 21.6974 14.6358C21.8683 14.1324 22.2499 13.0024 22.0683 12.7274Z" fill="#FF9900"></path>
        <path d="M18.6083 12.7427C18.13 12.3277 18.045 12.1343 17.7808 11.7385C16.9917 12.5818 16.4325 12.8343 15.4058 12.8343C14.195 12.8343 13.25 12.0527 13.25 10.486C13.25 9.26349 13.885 8.43016 14.7867 8.02349C15.57 7.66266 16.6617 7.59849 17.495 7.50016V7.30432C17.495 6.94599 17.5225 6.52099 17.3217 6.21266C17.145 5.93516 16.8083 5.82099 16.5133 5.82099C15.9633 5.82099 15.4717 6.11516 15.3533 6.72516C15.3283 6.86099 15.2333 6.99432 15.1033 7.00016L13.7058 6.84432C13.5892 6.81682 13.4592 6.71682 13.4917 6.52766C13.8133 4.75682 15.3442 4.22266 16.7142 4.22266C17.4142 4.22266 18.3308 4.41766 18.8842 4.97266C19.5858 5.65599 19.5192 6.57099 19.5192 7.56432V9.91266C19.5192 10.6185 19.7983 10.9293 20.0608 11.3093C20.155 11.446 20.1758 11.6093 20.0583 11.711C19.7642 11.9677 19.2417 12.4443 18.9533 12.711C18.9058 12.7505 18.8473 12.7747 18.7857 12.7804C18.7242 12.786 18.6623 12.7729 18.6083 12.7427ZM17.2258 10.6318C17.5092 10.1102 17.495 9.62016 17.495 9.03349V8.70682C16.4533 8.70682 15.3533 8.94016 15.3533 10.2235C15.3533 10.8752 15.675 11.3152 16.2283 11.3152C16.6342 11.3152 16.9967 11.0552 17.2258 10.6318Z" fill="#221F1F"></path>
      </g>
      <defs>
        <clipPath id="clip0_1839_702">
          <rect width="31.6667" height="20" fill="white" transform="translate(0.429688)"></rect>
        </clipPath>
      </defs>
    </svg>
  </div>
  <div class="custom-payment-icon">
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="20" viewBox="0 0 32 20" fill="none">
      <g clip-path="url(#clip0_1839_707)">
        <path d="M29.4987 0H2.83203C1.41536 0 0.332031 1.08333 0.332031 2.5V17.5C0.332031 18.9167 1.4987 20 2.83203 20H29.4987C30.9154 20 31.9987 18.9167 31.9987 17.5V2.5C31.9987 1.08333 30.832 0 29.4987 0Z" fill="#E6E6E8"></path>
        <path d="M7.80656 8.5565L8.45156 10.1198H7.16656L7.80656 8.5565ZM21.2024 8.6215H18.7216V9.31067H21.1624V10.3432H18.7266V11.1115H21.2074V11.7273L22.9382 9.8565L21.2074 7.9065L21.2024 8.6215ZM9.48323 6.6715H12.8124L13.5516 8.284L14.2366 6.6665H22.8782L23.7766 7.65817L24.7057 6.6665H28.6749L25.7424 9.8765L28.6449 13.0665H24.6166L23.7182 12.0748L22.7807 13.0665H8.68906L8.2774 12.0748H7.33573L6.92323 13.0665H3.66406L6.4024 6.6665H9.26073L9.48323 6.6715ZM16.7024 7.56984H14.8366L13.5866 10.5165L12.2324 7.56984H10.3807V11.5782L8.66406 7.56984H7.00323L5.01823 12.1632H6.31406L6.72573 11.1715H8.88906L9.30073 12.1632H11.5674V8.884L13.0266 12.1682H14.0182L15.4682 8.894V12.169H16.6832L16.7032 7.569L16.7024 7.56984ZM24.4857 9.8765L26.5949 7.56984H25.0766L23.7424 9.00817L22.4524 7.56984H17.5407V12.1682H22.3824L23.7274 10.7198L25.0174 12.1682H26.5799L24.4857 9.8765Z" fill="#006FCF"></path>
      </g>
      <defs>
        <clipPath id="clip0_1839_707">
          <rect width="31.6667" height="20" fill="white" transform="translate(0.332031)"></rect>
        </clipPath>
      </defs>
    </svg>
  </div>
</div>
      </div>